* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

main {
    padding: 20px;
    overflow: auto;
}

header {
    display: inline;
}

nav {
    background-color: #00c8eb;
    position: sticky;
    height: 70px;
    /* border: 1px solid; */
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    /* transisi ketika di hover */

}

nav a:hover {
    /* color: #f84744; */
    color: black;
}

nav h1 {
    /* border: 1px solid; */
    display: inline-block;
    /* float: left; */
    padding: 19px 24px;
    /* text-transform: uppercase; */
}

nav ul {
    /* border: 1px solid; */
    float: right;
}

nav ul li {
    /* border: 1px solid; */
    padding: 24px;
    display: inline-block;
}

.container {
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid; */
}

/* untuk menghapus float biar ngikutin isinya */
.container::after {
    content: '';
    display: block;
    clear: both;
}

.menu {
    float: right;
    display: none;
    padding: 18px;
    /* border: 1px solid; */
}

.menu:hover {
    cursor: pointer;
}

#check {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -330px;
    width: 250px;
    background-color: rgb(16, 47, 80, 0.9);
    transition: 0.3s;
    z-index: 9999;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar ul li {
    padding: 24px;
    transition: 0.3s;
    transition-property: background-color;
    list-style: none;
}

.sidebar ul li:hover {
    background-color: #f84744;
    transition: 0.3s;
}

/* ketika menu di klik sidebar muncul */
#check:checked~.sidebar {
    left: 0;
}

.banner {
    /* height: 400px; */
    height: 60vh;
    /* border: 1px solid; */
    background-image: url(../images/img6.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: #ffffff;
    padding: 20px 25px;
    /* atasbawah 20, kiri-kanan 25; */
    border: 3px solid white;
}

section {
    padding: 35px 0;
}

#about h2 {
    padding-bottom: 0px solid;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

aside {
    float: right;
    width: 30%;
    padding-left: 0px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    width: 75%;
    /* padding-right: 20px; */
}

#content {
    width: 70%;
    float: right;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.personal header {
    text-align: center;
}

.personal img {
    width: 250px;
}

figcaption h3 {
    margin: 10px;
}

table td {
    text-align: left;
    padding: 5px;
}

section h2 {
    /* border: 1px; */
    text-align: center;
    padding-bottom: 10px;
    /* position: relative; */
}

section h2::before {
    content: '';
    display: block;
    /* position: absolute; */
    bottom: 0;
    width: 120px;
    /* height: 1px; */
    padding-bottom: 0px;
    background-color: #ddd;
    left: calc(50% - 60px);
}

section h2::after {
    content: '';
    display: block;
    position: relative;
    /* position: absolute; */
    bottom: -1px;
    width: 40px;
    height: 4px;
    background-color: #00c8eb;
    left: calc(50% - 20px);
}

/* #about {
    bottom: 0;
} */

#portfolio,
#contact {
    background-color: whitesmoke;
}

.skill-bar {
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin: 5px 0 20px 0;
    /* atas kanan bawah kiri */
}

.skill-bar .nilai {
    height: 30px;
    background-color: #00c8eb;
    display: inline-block;
    color: #ffffff;
    text-align: center;
}

.html {
    width: 80%;
}

.css {
    width: 80%;
}

.php {
    width: 70%;
}

.js {
    width: 65%;
}

.mysql {
    width: 70%;
}

.framework {
    width: 75%;
}

.ai {
    width: 80%;
}

.col-4 {
    width: 33.33%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    margin-top: 20px;
}

.col-4 img {
    width: 100%;
}

.col-4 a {
    text-decoration: none;
}

.col-4 a:hover img {
    transform: scale(1.1);
}

.col-4-c {
    width: 25%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 30px 20px;
}

.col-4-c h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}


html {
    scroll-behavior: smooth;
}



/* jika tampilan 768px tampilkan menu */
@media (max-width: 800px) {
    .menu {
        display: block;
    }

    /* saat ukuran mobile nav li hilang */
    nav ul {
        display: none;
    }

    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    .col-4 {
        width: 50%;
    }

    .col-4-c {
        width: 100%;
    }
}

footer {
    background-color: #00c8eb;
    padding: 30px;
    text-align: center;
}

footer p {
    color: #ffffff;
}